.outer {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 365px;
        position: relative;
}

p {
        position: relative;
        left: 194px;
        margin-top: 64px;
}