<div id="container">
    <div id="graph-1">
        <p>1st</p>
        <app-charts [chartId]="id[0]" [options]="type" [data]="sample" [chartLabels]="labels" [backgroundColor]="backgroundColor" [height]="height" [width]="width"></app-charts>
    </div>
    <div id="graph-2">
        <p>2nd</p>
        <app-charts [chartId]='id[1]' [options]='type2' [data]='sample2' [chartLabels]="labels" [backgroundColor]="backgroundColor" [height]="height" [width]="width"></app-charts>
        <button (click)="onClick()" >click</button>

    </div>
    <div>
        <app-charts [chartId]='id[2]' [options]='type3' [data]='sample2' [chartLabels]="labels" [backgroundColor]="backgroundColor" [height]="height" [width]="width"></app-charts>

    </div>
</div>